.chat{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    padding: 2%;

}
.chat .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .chat{
        display: flex;
        flex-wrap: wrap;
    }
    
}
