.homebody{
    margin-top: 4%;
    width: 100%;
}
.homebody .container {
    width: 100% !important;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
  
    @media screen and (min-width: 992px) and (max-width: 1439px) {
      max-width: 1279px !important;
      padding: 0 !important;
      margin: 0 80px !important;
      width: auto !important;
    }
  
    @media screen and (max-width: 991px) {
      max-width: 959px !important;
      margin: 0 16px !important;
      padding: 0 !important;
      width: auto !important;
    }
  }
  
  .gradient-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;
    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
  
  .homebody .container-title {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #493ad6;
    font-weight: 600;
    line-height: 60px;
  }
  
  .homebody .card {
    max-width: 550px;
    border: 0;
    width: 100%;
    margin-inline: auto;
  }
  
  .homebody .container-card {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
    img {
      margin-bottom: 32px;
    }
  }
  
  .bg-green-box,
  .bg-white-box,
  .bg-yellow-box,
  .bg-blue-box {
    position: relative;
  }
  
  .bg-green-box::after,
  .bg-white-box::after,
  .bg-yellow-box::after,
  .bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
  }
  
  .bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
  }
  
  .bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
  }
  
  .bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
  }
  
  .bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
  }
  
  .homebody .card-title {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
  }
  
  .homebody .card-description {
    font-weight: 600;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    max-width: 470px;
  }
  


  @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.services {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center

}

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');
/* Core Styles */

.services html {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.services body {
    background: #efefef;
}


.homebody .header {
  width: 60%;
  margin: 1em auto;
  text-align: center;
  border-bottom: 2px solid rgba(29,29,29,0.6);
  padding: 1em;
}

.homebody .header h1 {
  margin-bottom: 0.25em;
  font-weight: 600;
  text-transform: uppercase;
}

.homebody .header a {
  text-decoration: none;
  color: #1d1d1d;
  font-weight: 700;
  transition: all 0.35s ease-in-out;
}


.services .heading {
    margin-bottom: 1em;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
.services .snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  margin: 2%;
}

.services .snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.services .snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.services .snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.services .snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #fac26d 0%, #ca8216d3 100%, #ca8216d3 100%);
  background: -webkit-linear-gradient(90deg, #ffd700 0%, #ca8216d3 100%, #ca8216d3 100%);
  background: linear-gradient(90deg, #ffd700 0%, #ca8216d3 100%, #ca8216d3 100%);
  opacity: 0.8;
  z-index: -1;
}

.services .snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.services .snip1527 .date span {
  display: block;
  line-height: 14px;
}

.services .snip1527 .date .month {
  font-size: 11px;
}

.services .snip1527 h3,
.services .snip1527 p {
  margin: 0;
  padding: 0;
}

.services .snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.services .snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.services .snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.services .snip1527:hover img,
.services .snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}