.reserver{
  padding: 2%;
}
.header {
    width: 60%;
    margin: 1em auto;
    text-align: center;
    border-bottom: 2px solid rgba(29,29,29,0.6);
    padding: 1em;
  }
.header h1 {
    margin-bottom: 0.25em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .reserver table {
    padding: 2%;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    
  }
  
.reserver th, td {
    text-align: left;
    padding: 8px;
  }
  
.reserver tr:nth-child(even){background-color: #f2f2f2}
  
  .reserver th {
    background-color: #828382;
    color: rgb(8, 8, 8);
  }